[user]
  name = shikakun
  email = k@u-n.jp
[push]
  default = simple
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[alias]
  a = add
  branch-empty-commit = "!sh -c 'git checkout -b $1 && git commit --allow-empty -m \"ブランチを作った: $1\"' -"
  c = commit -m
  ci = commit -m
  ca = commit --amend
  co = checkout
  d = diff
  dd = diff --cached
  p = push origin
  pl = pull origin
  s = status -sb
  st = status -sb
  br = branch
  brd = branch -d
  brdd = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[core]
  editor = vim
  excludesfile = ~/.gitignore
	precomposeunicode = true
