[user]
  name = shikakun
  email = k@u-n.jp
[push]
  default = simple
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[alias]
  a = add
  c = commit -m
  ci = commit -m
  co = checkout
  p = push origin
  pl = pull origin
  s = status -sb
  st = status -sb
  br = branch
  brd = branch -d
  brdd = fetch --prune
[core]
	editor = vim
	excludesfile = ~/.gitignore
